* {
    text-align: center;
    margin: auto 0;
}

body {
    padding: 50px;
    background-image: url('http://worcsu.dev.worcestermedialab.com/images/Freshers---Web-Background.png');
}

.label {
    font-weight: bold;
}

ul {
    padding: 0;
}

.form-control {
    width: 400px;
    max-width: 100%;
    margin: auto;
}

.holder {
    padding: 5px;
    margin: 10px auto;
    max-width: 100%;
    width: 400px;
    height: auto;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

h4 {
    margin: 2px;
}

img {
    margin-top: 40px;
}

.add-form {
    margin-bottom: 40px;
}